body, html, #root, .login {
  width: 100%;
  height: 100%;
}

.input {
 box-sizing: border-box;
 outline: none;
 border: solid 2px #1189de;
 border-radius: 4px;
 color: #292929;
 width: 100%;
 padding: 18px;
 font-size: 16px;
 background: rgba(255, 255, 255, 1);
}